@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;  
}

body { 
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e9eceb;
    color: #111;
    width: 100%;
    height: 100vh;
    padding: 20px 0 20px 0;
    overflow: hidden;
}

.container {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

header {
    background-color: #00aaff;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header h1 {
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

main {
    display: flex;
    margin: 0 auto;
}

section {
  padding: 40px 20px;
}

.input-section {
  flex-basis: 30%;
}

.book-shelf {
  flex-basis: 35%;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 5px;
}

section:nth-child(2) h2 {
  background-color: orange;
  border-radius: 5px;
}

section:nth-child(3) h2 {
  background-color: limegreen;
  border-radius: 5px;
} 

.input-section div {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#input-buku {
  margin-top: 50px;
}

.input {
  margin: 10px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.input input {
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ddd;
}

.flex-row {
  display: flex;
}

.penulis {
  flex-basis: 80%;
}

.tahun {
  width: 100px;
}

form .flex-row:last-child {
  margin-top: 20px;
}

.input-checkbox label {
    display: inline;
    margin: 10px;
}


button {
  cursor: pointer;
}

.button {
    padding-right: 10px;
    margin-left: auto;
}

#input-submit { 
    padding: 5px 15px;
    font-size: 18px;
    background-color: rgb(0, 216, 11);
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}

#input-submit:hover {
    background-color: rgb(0, 156, 8);
    transition: .5s;
}

.cari-buku {
    margin-top: 50px;
    padding: 0 10px
}

.cari-buku h3 {
  text-align: center;
}

#cari-buku {
    position: relative;
    margin-top: 20px;
}

#inputCariBuku {
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
    float: left;
    padding: 5px 90px 5px 10px;
    width: 100%;
    border: 1px solid #ddd;
}

#cari {
    font-size: 20px;
    position: absolute;
    padding: 5px 10px 5px 10px;
    top: 5.2px;
    right: 0;
    width: 80px;
    color: white;
    background-color: #00bbff;
    border-radius: 0 5px 5px 0;
    transition: .5s;
}

#cari:hover {
    background-color: royalblue;
    transition: .5s;
}

.book-card {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid #ddd;
    border-left: 5px solid #00bbff;
}

.book-title {
  margin-bottom: 10px;
}

.book-details {
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
}

.book-details span {
  font-weight: normal;
}

.book-buttons {
    margin-top: 5px;
    text-align: right;
}

.book-buttons button {
    min-width: 70px;
    padding: 5px;
    margin: 3px;
    background-color: #fff;
    border-radius: 5px;
}

.book-buttons button {
  transition: .5s;
}

.green-button {
  border: 2px solid limegreen;
}

.green-button:hover {
  background-color: limegreen;
  color: #fff;
}

.orange-button {
  border: 2px solid orange;
}

.orange-button:hover {
  background-color: orange;
  color: #fff;
}

.red-button {
  border: 2px solid crimson;
}

.red-button:hover {
  background-color: crimson;
  color: #fff;
}

.edit-section {
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 0;
} 

.edit-form {
    position: absolute; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

#closeForm {
    position: relative;
    float: right;
    width: 60px;
    padding: 10px;
    font-size: 30px;
    z-index: 10;
    top: -10px;
    right: 150px;
    border-radius: 50%;
}

#edit-buku {
    position: relative;
    background-color: rgba(92, 92, 92, 0.692);
    padding: 50px 100px; 
    border-radius: 20px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px); 
    right: 50px; 
}

#edit-buku h3 {
    font-size: 23px;
    text-align: center;
    padding: 25px;
}

#edit-submit { 
    padding: 5px 15px;
    min-width: 100px;
    font-size: 18px;
    background-color: rgb(0, 189, 148);
    color: white;
    border-radius: 20px;
    transition: .5s;
}

#edit-submit:hover {
    background-color: rgb(0, 117, 82);
    transition: .5s;
}

footer {
    color: #fff;
    font-weight: bold;
    background-color: #222;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer span {
    color: #888888;
}


@media all and (max-width: 1100px) {

 body {
  height: auto;
  overflow: auto;
 }

  main {
   flex-flow: column;
   max-width: 700px;
   margin: 0 auto;
 }

  section {
   padding: 40px 20px 0 20px;
 }

  section:nth-child(2), section:nth-child(3) {
   margin-top: 50px;
 }

 .input-section div {
   position: static;
 }

 .edit-section {
   position: fixed;
 }

 .edit-form {
   width: 90%;
   top: 40%;
   left: 50%; 
   transform: translate(-50%, -50%);
 }

  #edit-buku {
   max-width: 700px;
   padding: 20px;
 }

  #edit-buku .flex-row {
   flex-direction: column;
 }

  footer {
   display: block;
 }
}

@media all and (max-width: 768px) {
  #edit-buku {
    right: 0;
  }
  
  #closeForm {
    top: -10px;
    left: 10px;
    right: 0;
    width: 45px;
    padding: 10px;
    font-size: 20px;
  }
}
